# Logs
logs/
*.log
*.log.*

# Build directories
dist/
build/
out/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.spec

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Miscellaneous
*.swp
*.bak
*.tmp
*.orig
*.rej
*.gz

# custom files

background.png
wallpaper.png
config.cfg
xeno.ico